@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
body {
  background-color: rgb(215, 155, 224);
}

.container {
  margin: 35px auto;
  max-width: 600px;
  background-color: rgb(231, 189, 241);
  border-radius: 5px;
}

.poem-space {
  font-family: "Hind Siliguri", sans-serif;
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 5px;
}

.instruction {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
}

.input-section {
  padding: 12px;
  width: 40%;
  border: 1px solid darkred;
  font-family: "Poppins", sans-serif;
}

.submit-button {
  padding: 12px;
  font-family: "Poppins", sans-serif;
}
h1 {
  padding-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  font-size: 46px;
}

form {
  text-align: center;
  padding: 18px;
}

footer {
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  padding-bottom: 20px;
  margin: 10px auto;
  max-width: 600px;
}
